# Random Forest

In [1]:
from sklearn import tree
import pandas as pd
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [3]:
dff = pd.read_csv("output.csv.txt")
dff.columns

Index(['Unnamed: 0', 'Customer ID',
       'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure',
       'Dealer codes from where customer has purchased the Two wheeler',
       'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       ' Number of secured loans', ' Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months',
       'Target variable ( 1: Defaulters / 0: Non-Defaulters)', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

In [4]:
dff

,Unnamed: 0,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,...,Geographical Location 3,Geographical Location 4,Housewife,Self-Employed,Salaried,Pensioner,Student,Residence Owned By Office,Residence Owned,Residence Rented
0,0,1,0,0,24.0,0.0,2432.0,46500.0,24.0,1385.0,...,0,0,1,0,0,0,0,0,1,0
1,1,2,0,1,24.0,1.0,1495.0,28168.0,24.0,2496.0,...,0,0,0,1,0,0,0,0,0,1
2,2,3,0,0,26.0,0.0,1707.0,38900.0,30.0,1346.0,...,0,0,0,1,0,0,0,0,0,1
3,3,4,0,0,24.0,0.0,2128.0,42900.0,24.0,1375.0,...,0,0,0,0,1,0,0,0,0,1
4,4,5,0,0,27.0,0.0,1824.0,40900.0,30.0,4140.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73527,85043,85044,0,0,14.0,0.0,2941.0,47900.0,18.0,1375.0,...,0,0,0,0,1,0,0,0,1,0
73528,85044,85045,0,0,10.0,0.0,2870.0,41000.0,15.0,20061.0,...,0,1,0,1,0,0,0,0,1,0
73529,85045,85046,0,0,10.0,0.0,2720.0,28350.0,12.0,3982.0,...,0,0,0,1,0,0,0,0,1,0
73530,85046,85047,0,0,8.0,0.0,3500.0,50000.0,15.0,1151.0,...,1,0,0,0,1,0,0,0,1,0
73531,85047,85048,0,0,8.0,0.0,2750.0,27500.0,10.0,1013.0,...,0,1,0,0,1,0,0,0,1,0

In [5]:
df_drop = dff.drop(columns=['Unnamed: 0', 'Customer ID','Dealer codes from where customer has purchased the Two wheeler'])
df_drop

,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,No of advance EMI paid,Rate of Interest,"Gender(Male = 0, Female = 1)",...,Geographical Location 3,Geographical Location 4,Housewife,Self-Employed,Salaried,Pensioner,Student,Residence Owned By Office,Residence Owned,Residence Rented
0,0,0,24.0,0.0,2432.0,46500.0,24.0,0.0,12.75,1,...,0,0,1,0,0,0,0,0,1,0
1,0,1,24.0,1.0,1495.0,28168.0,24.0,0.0,13.65,0,...,0,0,0,1,0,0,0,0,0,1
2,0,0,26.0,0.0,1707.0,38900.0,30.0,0.0,12.65,0,...,0,0,0,1,0,0,0,0,0,1
3,0,0,24.0,0.0,2128.0,42900.0,24.0,2.0,9.50,1,...,0,0,0,0,1,0,0,0,0,1
4,0,0,27.0,0.0,1824.0,40900.0,30.0,0.0,13.50,0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73527,0,0,14.0,0.0,2941.0,47900.0,18.0,1.0,6.99,0,...,0,0,0,0,1,0,0,0,1,0
73528,0,0,10.0,0.0,2870.0,41000.0,15.0,3.0,3.99,0,...,0,1,0,1,0,0,0,0,1,0
73529,0,0,10.0,0.0,2720.0,28350.0,12.0,0.0,15.10,1,...,0,0,0,1,0,0,0,0,1,0
73530,0,0,8.0,0.0,3500.0,50000.0,15.0,5.0,4.00,0,...,1,0,0,0,1,0,0,0,1,0
73531,0,0,8.0,0.0,2750.0,27500.0,10.0,0.0,0.00,0,...,0,1,0,0,1,0,0,0,1,0

In [6]:
target = df_drop["Target variable ( 1: Defaulters / 0: Non-Defaulters)"]
target_names = ["Not Defaulted","Defaulted"]

In [8]:
data = df_drop.drop("Target variable ( 1: Defaulters / 0: Non-Defaulters)", axis=1)
feature_names = data.columns

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [10]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9543600065277702

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9770440080509166

In [12]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.08907521052123903, 'EMI'),
 (0.07950420683498569, 'Maximum amount sanctioned for any Two wheeler loan'),
 (0.07855085733120791, 'Loan Amount'),
 (0.0755453790651368, 'Age at which customer has taken the loan'),
 (0.0726344878390176, 'Rate of Interest'),
 (0.06204806207845932, 'Number of times 30 days past due in last 6 months'),
 (0.055843149210404015, 'Maximum MOB (Month of business with TVS Credit)'),
 (0.04548513989847195, 'Number of times 60 days past due in last 6 months'),
 (0.04406070460125843, 'Number of loans'),
 (0.04236154135309255, 'Maximum amount sanctioned in the Live loans'),
 (0.027926369241990275, 'Tenure'),
 (0.026603303001240333, 'Number of times 90 days past due in last 3 months'),
 (0.025975723344589353, 'Number of times bounced while repaying the loan'),
 (0.02557832172243459, '\xa0Number of secured loans'),
 (0.02357162410369067,
  'Total sanctioned amount in the secured Loans which are Live'),
 (0.02241282884901268, 'No of advance EMI paid'),
 (0.021152723897577413, 'Number of times bounced in recent 12 months'),
 (0.020633313340688603,
  'Total sanctioned amount in the unsecured Loans which are Live'),
 (0.019175519359744753,
  'Time since first consumer durables loan taken (in months)'),
 (0.019082091423518854, '\xa0Number of unsecured loans'),
 (0.01429567734907182, 'Geographical Location 2'),
 (0.012171163057376007, 'Time since last Personal loan taken (in months)'),
 (0.0106127125597253, 'Geographical Location 4'),
 (0.009001581925942238, 'Motorcycle'),
 (0.008961244830602266, 'Salaried'),
 (0.008914780827176765, 'Self-Employed'),
 (0.008841376088720035, 'Geographical Location 1'),
 (0.008719104894476724, 'Geographical Location 3'),
 (0.00838789575558837, 'Scooter'),
 (0.007459821159007154, 'Gender(Male = 0, Female = 1)'),
 (0.005977676519971332, 'Residence Rented'),
 (0.005956875470891244, 'Residence Owned'),
 (0.0056435782456554905, 'Moped'),
 (0.004361860331807016,
  'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)'),
 (0.001728505951435296, 'Housewife'),
 (0.0008110764500998921, 'Student'),
 (0.0005798215133062845, 'Residence Owned By Office'),
 (0.0003546900513859914, 'Pensioner'),
 (0.0, 'Number of new loans in last 3 months')]