In [1]:
# Update sklearn to prevent version mismatches
!pip install sklearn --upgrade

Requirement already up-to-date: sklearn in c:\users\patri\anaconda3\lib\site-packages (0.0)
Requirement already satisfied, skipping upgrade: scikit-learn in c:\users\patri\anaconda3\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.18.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\patri\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.14.1)

In [2]:
# install joblib. This will be used to save your model. 
# Restart your kernel after installing 
!pip install joblib

Requirement already satisfied: joblib in c:\users\patri\anaconda3\lib\site-packages (0.14.1)

In [3]:
import pandas as pd

# Read the CSV and Perform Basic Data Cleaning

In [4]:
df = pd.read_csv("output.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df

,Customer ID,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,Dealer codes from where customer has purchased the Two wheeler,No of advance EMI paid,...,Geographical Location 3,Geographical Location 4,Housewife,Self-Employed,Salaried,Pensioner,Student,Residence Owned By Office,Residence Owned,Residence Rented
0,1,0,0,24.0,0.0,2432.0,46500.0,24.0,1385.0,0.0,...,0,0,1,0,0,0,0,0,1,0
1,2,0,1,24.0,1.0,1495.0,28168.0,24.0,2496.0,0.0,...,0,0,0,1,0,0,0,0,0,1
2,3,0,0,26.0,0.0,1707.0,38900.0,30.0,1346.0,0.0,...,0,0,0,1,0,0,0,0,0,1
3,4,0,0,24.0,0.0,2128.0,42900.0,24.0,1375.0,2.0,...,0,0,0,0,1,0,0,0,0,1
4,5,0,0,27.0,0.0,1824.0,40900.0,30.0,4140.0,0.0,...,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73527,85044,0,0,14.0,0.0,2941.0,47900.0,18.0,1375.0,1.0,...,0,0,0,0,1,0,0,0,1,0
73528,85045,0,0,10.0,0.0,2870.0,41000.0,15.0,20061.0,3.0,...,0,1,0,1,0,0,0,0,1,0
73529,85046,0,0,10.0,0.0,2720.0,28350.0,12.0,3982.0,0.0,...,0,0,0,1,0,0,0,0,1,0
73530,85047,0,0,8.0,0.0,3500.0,50000.0,15.0,1151.0,5.0,...,1,0,0,0,1,0,0,0,1,0
73531,85048,0,0,8.0,0.0,2750.0,27500.0,10.0,1013.0,0.0,...,0,1,0,0,1,0,0,0,1,0

In [5]:
df.columns

Index(['Customer ID',
       'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure',
       'Dealer codes from where customer has purchased the Two wheeler',
       'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       ' Number of secured loans', ' Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months',
       'Target variable ( 1: Defaulters / 0: Non-Defaulters)', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

In [6]:
y = df['Target variable ( 1: Defaulters / 0: Non-Defaulters)']
df['Target variable ( 1: Defaulters / 0: Non-Defaulters)'].value_counts()

0    71904
1     1628
Name: Target variable ( 1: Defaulters / 0: Non-Defaulters), dtype: int64

In [7]:
#so there are two different categories (default vs. non-default)

#do not use linear regression, this is a classification problem
#start with random trees classification to get useful variables
df = df.drop(columns="Customer ID")
df.columns

Index(['If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure',
       'Dealer codes from where customer has purchased the Two wheeler',
       'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       ' Number of secured loans', ' Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months',
       'Target variable ( 1: Defaulters / 0: Non-Defaulters)', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

# Select your features (columns)

In [8]:
# Set features. This will also be used as your x values.
selected_features = df.drop(columns='Target variable ( 1: Defaulters / 0: Non-Defaulters)')
selected_features = selected_features.drop(columns='Dealer codes from where customer has purchased the Two wheeler')
selected_features.columns

Index(['If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)',
       'Number of times bounced in recent 12 months',
       'Maximum MOB (Month of business with TVS Credit)',
       'Number of times bounced while repaying the loan', 'EMI', 'Loan Amount',
       'Tenure', 'No of advance EMI paid', 'Rate of Interest',
       'Gender(Male = 0, Female = 1)',
       'Age at which customer has taken the loan', 'Number of loans',
       ' Number of secured loans', ' Number of unsecured loans',
       'Maximum amount sanctioned in the Live loans',
       'Number of new loans in last 3 months',
       'Total sanctioned amount in the secured Loans which are Live',
       'Total sanctioned amount in the unsecured Loans which are Live',
       'Maximum amount sanctioned for any Two wheeler loan',
       'Time since last Personal loan taken (in months)',
       'Time since first consumer durables loan taken (in months)',
       'Number of times 30 days past due in last 6 months',
       'Number of times 60 days past due in last 6 months',
       'Number of times 90 days past due in last 3 months', 'Motorcycle',
       'Moped', 'Scooter', 'Geographical Location 1',
       'Geographical Location 2', 'Geographical Location 3',
       'Geographical Location 4', 'Housewife', 'Self-Employed', 'Salaried',
       'Pensioner', 'Student', 'Residence Owned By Office', 'Residence Owned',
       'Residence Rented'],
      dtype='object')

# Create a Train Test Split

Use `Target variable ( 1: Defaulters / 0: Non-Defaulters)` for the y values

In [9]:
from sklearn.model_selection import train_test_split

X = selected_features

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, train_size=0.8, random_state=22)

In [10]:
X_train.head()

,"If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)",Number of times bounced in recent 12 months,Maximum MOB (Month of business with TVS Credit),Number of times bounced while repaying the loan,EMI,Loan Amount,Tenure,No of advance EMI paid,Rate of Interest,"Gender(Male = 0, Female = 1)",...,Geographical Location 3,Geographical Location 4,Housewife,Self-Employed,Salaried,Pensioner,Student,Residence Owned By Office,Residence Owned,Residence Rented
17573,0,0,25.0,0.0,1531.0,32400.0,30.0,1.0,16.70,0,...,1,0,0,1,0,0,0,0,1,0
59965,0,0,14.0,0.0,2963.0,57900.0,24.0,1.0,11.40,0,...,0,0,0,0,1,0,0,0,1,0
47704,0,0,20.0,0.0,2606.0,49275.0,24.0,0.0,13.45,1,...,1,0,1,0,0,0,0,0,1,0
43809,0,0,16.0,0.0,3247.0,54000.0,21.0,1.0,15.00,0,...,1,0,0,1,0,0,0,0,1,0
52534,0,1,22.0,2.0,2853.0,53900.0,24.0,0.0,13.50,0,...,0,0,0,1,0,0,0,0,1,0

# Pre-processing

Scale the data using the MinMaxScaler and perform some feature selection

In [11]:
# Scale your data

#setup MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

#set initial sizing of minmaxscaler using training data
X_scaler = MinMaxScaler().fit(X_train)

#y is just 1 or zero, so no need to scale it!
# y_scaler = MinMaxScaler().fit(y_train)

In [12]:
#use MinMaxScaler to transform the data in the training and test data sets
#so that it is not weighted improperly

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# y_train_scaled = y_scaler.transform(y_train)
# y_test_scaled = y_scaler.transform(y_test)

# Train the Model

In [13]:
#first, use random forest classification in this notebook (to get best features to use later)!
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(n_estimators=200)
classifier

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
#create the model using the training data!
classifier.fit(X_train_scaled, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [15]:
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Training Data Score: 1.0
Testing Data Score: 0.9781056639695384

In [16]:
importances = classifier.feature_importances_
sorted(zip(importances, selected_features.columns), reverse=True)

[(0.08841529457595601, 'EMI'),
 (0.07865768734705808, 'Maximum amount sanctioned for any Two wheeler loan'),
 (0.07753067695486655, 'Loan Amount'),
 (0.07569274945617349, 'Age at which customer has taken the loan'),
 (0.07170630984324494, 'Rate of Interest'),
 (0.06310472547650223, 'Number of times 30 days past due in last 6 months'),
 (0.05545620456415917, 'Maximum MOB (Month of business with TVS Credit)'),
 (0.04748539096281768, 'Number of times 60 days past due in last 6 months'),
 (0.04552878560255875, 'Number of loans'),
 (0.041478757933625106, 'Maximum amount sanctioned in the Live loans'),
 (0.027717033589915646, 'Number of times bounced while repaying the loan'),
 (0.02760276953263689, 'Number of times 90 days past due in last 3 months'),
 (0.026637786862553522, 'Tenure'),
 (0.02620835509817872, '\xa0Number of secured loans'),
 (0.023316138858849634,
  'Total sanctioned amount in the secured Loans which are Live'),
 (0.02281532560761662, 'Number of times bounced in recent 12 months'),
 (0.021759541848722808, 'No of advance EMI paid'),
 (0.01981687710168432,
  'Total sanctioned amount in the unsecured Loans which are Live'),
 (0.017962349468168846,
  'Time since first consumer durables loan taken (in months)'),
 (0.01774837159689619, '\xa0Number of unsecured loans'),
 (0.01356538297080079, 'Geographical Location 2'),
 (0.012270681054510563, 'Time since last Personal loan taken (in months)'),
 (0.010442700059733011, 'Geographical Location 4'),
 (0.009414666072055223, 'Motorcycle'),
 (0.009308290242146784, 'Self-Employed'),
 (0.009195841353346614, 'Geographical Location 3'),
 (0.008993921450570486, 'Salaried'),
 (0.008733385322250369, 'Geographical Location 1'),
 (0.008448153278799502, 'Scooter'),
 (0.007421689747144867, 'Gender(Male = 0, Female = 1)'),
 (0.006050947229484739, 'Residence Owned'),
 (0.005801448273806816, 'Moped'),
 (0.005772941944685232, 'Residence Rented'),
 (0.004684116893297752,
  'If a customer has bounced in first EMI (1 : Bounced, 0 : Not bounced)'),
 (0.001618395253317246, 'Housewife'),
 (0.0008361769987682122, 'Student'),
 (0.00048665278310975555, 'Residence Owned By Office'),
 (0.0003134767899869668, 'Pensioner'),
 (0.0, 'Number of new loans in last 3 months')]

## Best Features (from above) - with approx. weights

(0.08865385979098328, 'EMI'),
 (0.08016599915425165, 'Loan Amount'),
 (0.07988755182589, 'Maximum amount sanctioned for any Two wheeler loan'),
 (0.07459306702089485, 'Age at which customer has taken the loan'),
 (0.07156908682580773, 'Rate of Interest'),
 (0.06466229084752262, 'Number of times 30 days past due in last 6 months'),
 (0.057285514102868446, 'Maximum MOB (Month of business with TVS Credit)'),
 (0.04570525445401889, 'Number of times 60 days past due in last 6 months'),
 (0.045087050460312625, 'Number of loans'),
 (0.04031131711945558, 'Maximum amount sanctioned in the Live loans'),
 (0.026967216627992157, 'Number of times 90 days past due in last 3 months'),
 (0.026899211342014534, 'Tenure'),
 (0.02594007950959693, 'Number of times bounced while repaying the loan')